/* variables */
:root {
    --main-color: #00c6fc;
    --main-color-trans: #00c5fc83;
    --section-padding: 90px;
    --content-margin: 50px;
}
@media (max-width: 551px) {
    :root {
        --section-padding: 30px;
    }
}
/* global rules */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "work sans";
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.7;
}
.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) { 
    .container { 
        max-width: 540px; 
    } 
}
@media (min-width: 768px) { 
    .container { 
        max-width: 720px; 
    } 
}
@media (min-width: 992px) { 
    .container { 
        max-width: 960px; 
    } 
}
@media (min-width: 1200px) { 
    .container { 
        max-width: 1140px; 
    } 
}
@media (min-width: 1400px) { 
    .container { 
        max-width: 1320px; 
    } 
}
/* ---- */
/* components */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 50%);
}
.main-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}
.main-heading h2 {
    color: #333;
    font-weight: normal;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -21px;
    transform: translateX(-50%);
    width: 110px;
    height: 2px;
    background-color: #333;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -29.5px;
    width: 15px;
    aspect-ratio: 1;
    background-color: white;
    border: 2px solid #333;
    border-radius: 50%;
}
.main-heading p {
    color: #777;
    max-width: 600px;
}
/* ---- */
/* scroll to top */
.scroll-to-top {
    color: white;
    background-color: #3797c0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 5px;
    font-size: 20px;
}
/* ---- */
/* header bar */
header {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 1px;
    background-color: #a2a2a2;
}
header > img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    padding: 45px 20px;
    display: block;
    color: white;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-size: 17px;
    transition: .3s;
    position: relative;
    z-index: 2;
}
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
    cursor: pointer;
}
header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
header nav .burger-menu {
    padding: 45px 20px;
    color: white;
    display: none;
    cursor: pointer;
    z-index: 1000;
}
@media (max-width: 1029px) {
    header nav > .burger-menu {
        display: block;
    }
    header nav > .burger-menu:hover + ul {
        display: flex;
        position: absolute;
        top: 100%;
        z-index: 1001;
        width: 100%;
        background-color: #0000007a;
    }
    header nav > .burger-menu + ul {
        display: none;
        flex-direction: column;
    }
    header nav ul li a {
        padding: 20px 15px;
    }
}
/* ---- */
/* landging page */
.landing {
    position: relative;
    background: var(--main-color) url(../images/landing.jpg) center / cover;
    height: 100vh;
}
.landing .content {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    background-color: var(--main-color-trans);
    color: white;
    padding: 50px;
    line-height: 1.5;
    backdrop-filter: blur(2px);
}
.landing .content .text {
    flex-basis: 630px;
}
.landing .content .text h1 {
    text-transform: capitalize;
}
.landing .content .text p {
    margin-top: -20px;
}
@media (max-width: 768px) {
    .landing .content {
        width: 90%;
    }
    .arrow-left,
    .arrow-right {
        display: none;
    }
}
@media (max-width: 425px) {
    .landing .content {
        width: 100%;
        padding: 30px;
    }
}
/* arrows */
.arrow-left,
.arrow-right {
    z-index: 10;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: infinite 1s alternate;
}
.arrow-left {
    animation-name: arrow-left;
    left: 40px
}
.arrow-right {
    animation-name: arrow-right;
    right: 40px
}
@keyframes arrow-left {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(-20px);
    }
}
@keyframes arrow-right {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(20px);
    }
}
/* ballets */
.landing > ul {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.landing > ul li {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1.5px solid white;
}
.landing > ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* ---- */
/* services section */
.services {
    padding: var(--section-padding);
}
.services .srv-content {
    margin-top: var(--content-margin);
}
@media (min-width: 768px) {
    .services .srv-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        column-gap: 100px;
        row-gap: 30px;
    }
    .services .srv-content .card {
        margin-bottom: 0;
    }
    .services .srv-content .card i {
        margin-right: 60px;
    }
}
@media (max-width: 767px) {
    .services .srv-content .card {
        flex-direction: column;
        align-items: center;
    }
    .services .srv-content .card h2,
    .services .srv-content .card p {
        text-align: center;
    }
    .services .srv-content .card i {
        margin-bottom: 15px;
    }
}
.services .srv-content .card i {
    color: #c4c4c4;
}
.services .srv-content .card {
    display: flex;
    margin-bottom: 30px;
}
.services .srv-content .card h2 {
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 15px;
}
.services .srv-content .card p {
    color: #777;
}
/* ---- */
/* design section */
.design {
    background: url(../images/features.jpg) center / cover;
    overflow: hidden;
    position: relative;
    min-height: 500px;
}
.design img {
    position: absolute;
    bottom: -56px;
    right: 60%;
}
.design .text {
    color: white;
    background-color: var(--main-color-trans);
    width: 54%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
}
.design .text h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 35px;
    letter-spacing: -1px;
}
.design .text p {
    text-transform: capitalize;
    margin-left: 15px;
}
.design .text .card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .design img {
        left: 50%;
        transform: translate(-50%);
    }
    .design .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        backdrop-filter: blur(5px);
    }
}
/* ----- */
/* portofolio section */
.portofolio {
    padding-top: var(--section-padding);
    padding-bottom: 50px;
}
.portofolio ul.shuffle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.portofolio ul.shuffle li {
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}
.portofolio ul.shuffle li.active,
.portofolio ul.shuffle li:hover {
    background: var(--main-color);
    color: white;
}
/* the images */
.portofolio .content {
    margin-top: var(--content-margin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portofolio .content .card {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}
.portofolio .content .card:hover img {
    transform: scale(1.1) rotate(1deg);
}
.portofolio .content .card:hover .caption {
    top: auto;
    transform: translateY(-98%);
}
.portofolio .content .card img {
    width: 100%;
    transition: .3s;
}
.portofolio .content .card .caption {
    position: absolute;
    top: 100%;
    background-color: white;
    padding: 15px;
    transition: .3s;
    width: 100%;
}
.portofolio .content .card .caption h4 {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: normal;
}
.portofolio a.more {
    display: block;
    width: fit-content;
    margin: 40px auto 0 auto;
    color: white;
    background-color: var(--main-color);
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
/* ---- */
/* awesome video section */
.awesome {
    max-height: 500px;
    position: relative;
    overflow: hidden;
}
.awesome video {
    min-width: 100%;
}
.awesome .text {
    background-color: var(--main-color-trans);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 375px) {
    .awesome .text {
        height: 100%;
    }
}
.awesome .text h3 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px;
}
.awesome .text a {
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    width: fit-content;
    margin: 10px auto 0 auto;
}
/* ---- */
/* about us section */
.about {
    padding-top: var(--section-padding);
}
.about .content {
    background: url(../images/stats.png) center / cover;
    min-height: 500px;
    margin-top: 300px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .about .content {
        margin-top: 40px;
    }
}
.about .content img {
    position: absolute;
    z-index: -1;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
@media (min-width: 768px) {
    .about .content img {
        display: inline-block;
    }
}
.about .content .container {
    background-color: var(--main-color-trans);
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    padding: 15px 0;
}
.about .content .container  div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.about .content .container div i {
    background-color: #333;
    padding: 10px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.about .content .container div h1 {
    margin: 10px 0;
}
.about .content .container div p {
    font-size: 15px;
    white-space: nowrap;
    text-transform: capitalize;
}
.about .content .container > * {
    flex: 1 0;
}